<div class="layout">
	<div class="avatar layout-left"><img src="{{user.avatar}}" alt="{{user.screen_name}}"/></div>
	<div class="name-and-comment layout-middle">
		<div class="name"><a href="#" title="{{user.screen_name}}">{{user.screen_name}}</a></div>
		<div class="form">
			<form action="" method="post">
				<div class="wrap-input">
					<input type="text" name="comment" placeholder="Write a comment ..."/>
				</div>
				<div class="wrap-submit">
					<button type="submit">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>