/* Visibility */
.is-hidden {
	display: none;
	
	@media @phone {
		&.visible-on-phone {
			display: block;
		}
	}

	@media @tablet {
		&.visible-on-tablet {
			display: block;
		}
	}

	@media @desktop {
		&.visible-on-desktop {
			display: block;
		}
	}
}

/* Layout */
.layout {
	.cf();
	
	& > .layout-left {
		float: left;
	}
	
	& > .layout-right {
		float: right;
	}
	
	& > .layout-middle {
		overflow: hidden;
	}
}

/* Clearfix */
.cf {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}