/* Layout */
.layout {
	.layout-left {
		float: left;
	}
	
	.layout-right {
		float: right;
	}
	
	.layout-middle {
		overflow: hidden;
	}
	
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}