<div class="home-page">
	<header class="b-header layout js-header"></header>
	
	<section class="layout main-home-page js-main-home-page">
		<article class="layout-left">
			<div class="b-grid js-grid"></div>
		</article>
		<aside class="layout-middle js-wrap-sidebar">
			<div class="b-sidebar js-sidebar">
				Sidebar
			</div>
		</aside>
	</section>
	
	<footer class="b-footer">
		Footer
	</footer>
</div>