/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Header block
 *
 */

.b-header {

	// Media Queries
	@media @phone {
		.search-field {
			display: none;
		}
		
		.search-field-clone {
			clear: both;
			padding: 20px;
		}
		
		.logo{
			width: 50%;
			box-sizing: border-box;
			
			img {
				max-width: 100%;
			}
		}
		
		.user-information {
			margin-top: 15px;
			
			.user-name {
				display: table-cell;
			}
		}
	}

	@media @tablet {
		.user-information {
			margin-top: 30px;
			
			.user-name {
				display: none;
			}
		}
	}

	@media @desktop {
		.user-information {
			margin-top: 30px;
			
			.user-name {
				display: table-cell;
			}
		}
	}

	// Global Styles
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	margin-bottom: 30px;
	background: #fff;
	z-index: @z-normal;
	
	.logo {
		padding: 10px;
		
		img {
			max-height: 96px;
		}
	}
	
	.user-information {
		display: table;
		
		.cf();

		.avatar {
			.rounded(50%);
			
			overflow: hidden;
			height: 50px;
			float: left;
			margin-right: 10px;
			
			img {
				height: 100%;
			}
		}

		.user-name {
			vertical-align: middle;
			padding-right: 10px;
			
			span {
				display: inline-block;
				
				&.first-name {
					margin-right: 5px;
				}
			}
		}
		
		.avatar {
			display: table-cell;
		}		
	}
	
	.search-field {
		padding: 40px 20px;
	}
	
	.search-field,
	.search-field-clone {
		input {
			width: 100%;
			height: 30px;
			border: 1px solid #cacaca;
			.rounded(5px);
		}
	}
}